# Payments
Payments enable you to setup a business model and add a paywall to your app and start recieving money through subscriptions from your customers in matter of minutes.

Tenants will be able to subscribe to different **Plans** and you can use this information to tailor the user experience either manually or with [Feature flags](#feature-flags)

If you connect a payment provider to your app, Nblocks will use that provider to collect and facitilate transactions using credit card, invoice, wallet and bank transfer payments. 

## List plans
> Request example

```typescript
const plans = await client.config.payments.listPlans();
```

```shell
curl --request GET '<%= config[:account_api_url] %>/payments/plan' \
--header 'x-api-key: <%= config[:api_key] %>'
```

> Response example:

<%= partial "/includes/json/plans_json.md.erb" %>

List all plans

### HTTP Request

`GET <%= config[:account_api_url] %>/payments/plan`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

<%= partial "/includes/response_success.md" %>
List of [Plans](#plan-model)


## Create a plan

> Request example

```typescript
const data = {
    name: "Premium",
    key: "premium", 
    description: "This is a premium plan for premium features", 
    trial: true, 
    trialDays: 14, 
    prices: [{
        {
            amount: 50,
            currency: "EUR",
            recurrenceInterval: "month"
        }
    }]
};
const newPlan = await client.config.payments.createPlan(data);
```

```shell
curl --request POST '<%= config[:account_api_url] %>/payments/plan' \
--header 'x-api-key: <%= config[:api_key] %>' \
--data-raw '{
    "name": "Premium",
    "key": "premium", 
    "description": "This is a premium plan for premium features", 
    "trial": true, 
    "trialDays": 14, 
    "prices": [{
        {
            "amount": 50,
            "currency": "EUR",
            "recurrenceInterval": "month"
        }
    }]
}'
```

> Response example:

<%= partial "/includes/json/plan_json.md.erb" %>

Creates a plan that tenants can subscribe to

### HTTP Request

`POST <%= config[:account_api_url] %>/payments/plan`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### Body Parameters
| Parameter   | Type                    | Required | Description                                                                                                                               |
| ----------- | ----------------------- | -------- | ----------------------------------------------------------------------------------------------------------------------------------------- |
| key         | string                  | Yes      | Plan key, must be unique and cannot be changed. This is used identify the plan amongst subscribers and is used as argument during signup. |
| name        | string                  | Yes      | The name of the plan. Visible to customers                                                                                                |
| description | string                  | No       | The description of the plan. Visible to customers                                                                                         |
| trial       | bolean                  | No       | If new subscribers should start with trial. When trialing, subscribers can subscribe to plans with costs without being charged            |
| trialDays   | number                  | No       | The number of days before the trial expires                                                                                               |
| prices      | [Price[]](#price-model) | Yes      | A list of prices which configures how this plan is offered                                                                                |

<%= partial "/includes/response_success.md" %>
[Plan](#plan-model)

## Get a plan

> Request example

```typescript
const plan = await client.config.payments.getPlan("PLAN_ID");
```

```shell
curl --request GET '<%= config[:account_api_url] %>/payments/plan/PLAN_ID' \
--header 'x-api-key: <%= config[:api_key] %>'
```

> Response example:

<%= partial "/includes/json/plan_json.md.erb" %>

Get a plan

### HTTP Request

`GET <%= config[:account_api_url] %>/payments/plan/PLAN_ID`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description        |
| --------- | ------------------ |
| PLAN_ID   | The ID of the plan |

<%= partial "/includes/response_success.md" %>
[Plan](#plan-model)

## Update a plan

> Request example

```typescript
const data = {
    trial: true, 
    trialDays: 14,
};
const updatedPlan = await client.config.payments.updatePlan("PLAN_ID", data);
```

```shell
curl --request PUT '<%= config[:account_api_url] %>/payments/plan/PLAN_ID' \
--header 'x-api-key: <%= config[:api_key] %>' \
--data-raw '{ 
    "trial": true, 
    "trialDays": 14
}'
```

> Response example:

<%= partial "/includes/json/plan_json.md.erb" %>

Updates an existing plan

### HTTP Request

`PUT <%= config[:account_api_url] %>/payments/plan/PLAN_ID`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description        |
| --------- | ------------------ |
| PLAN_ID   | The ID of the plan |

### Body Parameters
| Parameter   | Type                    | Required | Description                                                                                                                    |
| ----------- | ----------------------- | -------- | ------------------------------------------------------------------------------------------------------------------------------ |
| name        | string                  | No       | The name of the plan. Visible to customers                                                                                     |
| description | string                  | No       | The description of the plan. Visible to customers                                                                              |
| trial       | bolean                  | No       | If new subscribers should start with trial. When trialing, subscribers can subscribe to plans with costs without being charged |
| trialDays   | number                  | No       | The number of days before the trial expires                                                                                    |
| prices      | [Price[]](#price-model) | No       | A list of prices which configures how this plan is offered                                                                     |

<%= partial "/includes/response_success.md" %>
[Plan](#plan-model)

## Delete a plan

> Request example

```typescript
await client.config.payments.deletePlan("PLAN_ID");
```

```shell
curl --request DELETE '<%= config[:account_api_url] %>/payments/plan/PLAN_ID' \
--header 'x-api-key: <%= config[:api_key] %>'
```

Delete an existing plan. Deleting a plan will **not** affect tenants already subscribing to this plan.

### HTTP Request

`DELETE <%= config[:account_api_url] %>/payments/plan/PLAN_ID`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description        |
| --------- | ------------------ |
| PLAN_ID   | The ID of the plan |

<%= partial "/includes/response_success.md" %>

## List taxes
> Request example

```typescript
const taxes = await client.config.payments.listTaxes();
```

```shell
curl --request GET '<%= config[:account_api_url] %>/payments/tax' \
--header 'x-api-key: <%= config[:api_key] %>'
```

> Response example:

<%= partial "/includes/json/taxes_json.md.erb" %>

List all taxes

### HTTP Request

`GET <%= config[:account_api_url] %>/payments/tax`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

<%= partial "/includes/response_success.md" %>
List of [Taxes](#tax-model)


## Create a tax

> Request example

```typescript
const data = {
    countryCode: "DE",
    name: "VAT",
    percentage: 19
};
const newTax = await client.config.payments.createTax(data);
```

```shell
curl --request POST '<%= config[:account_api_url] %>/payments/tax' \
--header 'x-api-key: <%= config[:api_key] %>' \
--data-raw '{
    "countryCode": "DE",
    "name": "VAT",
    "percentage": 19
}'
```

> Response example:

<%= partial "/includes/json/tax_json.md.erb" %>

Creates a tax for tenants from a specific country.

### HTTP Request

`POST <%= config[:account_api_url] %>/payments/tax`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### Body Parameters
| Parameter   | Type   | Required | Description                                                                               |
| ----------- | ------ | -------- | ----------------------------------------------------------------------------------------- |
| countryCode | string | Yes      | Two-letter ISO country code. https://www.nationsonline.org/oneworld/country_code_list.htm |
| name        | string | Yes      | Name of the tax. Visible to customers                                                     |
| percentage  | string | Yes      | Percentage with which the sub total is increased with. `0` - `100`                        |

<%= partial "/includes/response_success.md" %>
[Tax](#tax-model)

## Get a tax

> Request example

```typescript
const tax = await client.config.payments.getTax("TAX_ID");
```

```shell
curl --request GET '<%= config[:account_api_url] %>/payments/tax/TAX_ID' \
--header 'x-api-key: <%= config[:api_key] %>'
```

> Response example:

<%= partial "/includes/json/tax_json.md.erb" %>

Get a tax

### HTTP Request

`GET <%= config[:account_api_url] %>/payments/tax/TAX_ID`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description       |
| --------- | ----------------- |
| TAX_ID    | The ID of the tax |

<%= partial "/includes/response_success.md" %>
[Tax](#tax-model)

## Update a tax

> Request example

```typescript
const data = {
    percentage: 19
};
const updatedTax = await client.config.payments.updateTax("TAX_ID", data);
```

```shell
curl --request PUT '<%= config[:account_api_url] %>/payments/tax/TAX_ID' \
--header 'x-api-key: <%= config[:api_key] %>' \
--data-raw '{ 
    "percentage": 19
}'
```

> Response example:

<%= partial "/includes/json/tax_json.md.erb" %>

Updates an existing tax

### HTTP Request

`PUT <%= config[:account_api_url] %>/payments/tax/TAX_ID`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description       |
| --------- | ----------------- |
| TAX_ID    | The ID of the tax |

### Body Parameters
| Parameter   | Type   | Required | Description                                                                               |
| ----------- | ------ | -------- | ----------------------------------------------------------------------------------------- |
| countryCode | string | No       | Two-letter ISO country code. https://www.nationsonline.org/oneworld/country_code_list.htm |
| name        | string | No       | Name of the tax. Visible to customers                                                     |
| percentage  | string | No       | Percentage with which the sub total is increased with. `0` - `100`                        |

<%= partial "/includes/response_success.md" %>
[Tax](#tax-model)

## Delete a tax

> Request example

```typescript
await client.config.payments.deleteTax("TAX_ID");
```

```shell
curl --request DELETE '<%= config[:account_api_url] %>/payments/tax/TAX_ID' \
--header 'x-api-key: <%= config[:api_key] %>'
```

Delete an existing tax. Deleting a tax will **not** affect tenants already subscribing to plans.

### HTTP Request

`DELETE <%= config[:account_api_url] %>/payments/tax/TAX_ID`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description       |
| --------- | ----------------- |
| TAX_ID    | The ID of the tax |

<%= partial "/includes/response_success.md" %>

## Connect to a payment provider
Nblocks uses [Stripe](https://stripe.com) as the payment provider to facilitate credit card, invoice, wallet and bank transfer payments.
Nblocks will use your business model and create the required data in Stripe like Product, Prices and Taxes and keep this up to date.

See [Update credentials](#update-credentials) how to provide your secret and public keys from Stripe to enable the integration.

## Subscription portal - Select plan

This endpoint renders Nblocks hosted subscriptions views for selecting or managing subscriptions. Redirect the user agent or embedd this url into an iframe to render the view.
Users will be able to select what plan to subscribe to. See [Handover code](#handover-code) for how to obtain the code parameter required for this call.

After the user has selected the plan, and provided setup payment information if required, the user will be redirected back to your app with new tokens.

### HTTP Request

`GET <%= config[:backendless_api_url] %>/subscription-portal/selectPlan?code=XXXX`

### URL Parameters
| Parameter | Description                              |
| --------- | ---------------------------------------- |
| code      | The code recieved from handover endpoint |

<aside class="notice">
You should redirect the user agent to this endpoint, or embedd it in an IFrame. This is not an API <-> API call.
</aside>

## Get tenant payment details

> Request example

```typescript
const details = await client.tenant(TENANT_ID).getPaymentDetails()
```

```shell
curl --request GET '<%= config[:account_api_url] %>/tenant/TENANT_ID/paymentDetails' \
--header 'x-api-key: <%= config[:api_key] %>'
```

> Response example:

<%= partial "/includes/json/tenant-payment-details_json.md.erb" %>

Gets payment and subscriptions details about a specific tenant. This information is more in-depth than the status property attached to the [Tenant](#tenant-model).

### HTTP Request

`GET <%= config[:account_api_url] %>/tenant/TENANT_ID/paymentDetails`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description          |
| --------- | -------------------- |
| TENANT_ID | The ID of the tenant |

<%= partial "/includes/response_success.md" %>
[Tenant payment details](#tenant-payment-details)

## Set tenant plan details

> Request example

```typescript
const data = {
    planKey: "premium",
    priceOffer: {
        currency: "EUR",
        recurrenceInterval: "month"
    }
}
const details = await client.tenant(TENANT_ID).setPaymentDetails(data)
```

```shell
curl --request POST '<%= config[:account_api_url] %>/tenant/TENANT_ID/paymentDetails' \
--header 'x-api-key: <%= config[:api_key] %>' \
--data-raw '{ 
    "planKey": "premium",
    "priceOffer": {
        "currency": "EUR",
        "recurrenceInterval": "month"
    }
}'
```

> Response example:

<%= partial "/includes/json/tenant-payment-details_json.md.erb" %>
This endpoint let you manually change subscriptions details for a specific tenant. You can change the plan and/or the current price the tenant is subscribing to. 
If the app has enabled payment provider and tenant has setup payments this change will affect future transactions.

<aside class="notice">
It is recommended to use the <a href="#subscription-portal-select-plan">Select plan view</a> where the end user can manage and change its plan and subscription.
</aside>

### HTTP Request

`POST <%= config[:account_api_url] %>/tenant/TENANT_ID/paymentDetails`

### Headers
| Parameter | Type   | Required | Description      |
| --------- | ------ | -------- | ---------------- |
| x-api-key | string | Required | Your app api key |

### URL Parameters
| Parameter | Description          |
| --------- | -------------------- |
| TENANT_ID | The ID of the tenant |

### Body Parameters
| Parameter  | Type       | Required | Description                            |
| ---------- | ---------- | -------- | -------------------------------------- |
| planKey    | string     | Yes      | The key of the plan to subscribe to    |
| priceOffer | PriceOffer | Yes      | One of the offering prices of the plan |

**PriceOffer**

| Parameter          | Type                             | Required | Description                                                                                                    |
| ------------------ | -------------------------------- | -------- | -------------------------------------------------------------------------------------------------------------- |
| currency           | string                           | Yes      | Three-letter ISO currency code. Must be a supported currency. https://www.iso.org/iso-4217-currency-codes.html |
| recurrenceInterval | `'day', 'month', 'week', 'year'` | Yes      | An interval for how often the customer will be charged for the subscription / plan.                            |


<%= partial "/includes/response_success.md" %>
[Tenant payment details](#tenant-payment-details)
